<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>List of Flights</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Flight ID</th>
            <th>Source Name</th>
            <th>Destination</th>
            <th>Seat Capacity</th>
            <th>price</th>
            <th>timeOfFlight</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flights|async">
            <td>{{flight.id}}</td>
            <td>{{flight.origin}}</td>
            <td>{{flight.destination}}</td>
            <td>{{flight.noOfSeats}}</td>
            <td>{{flight.price}}</td>
            <td>{{flight.timeOfFlight}}</td>

            <td><button (click)="removeFlight(flight.id)" class="btn btn-danger">Delete</button>
                 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>